body {
    font-family: Arial, sans-serif;
    /*background-color: #f4f4f4;*/
    background-image: url(imagem/fundo.png);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    }
    .container {
    background: #fff;
    padding: 20px;
    box-shadow: 0 5px 10px rgba(205, 18, 18, 0.914);
    width: 400px;
    text-align: center;
    max-height: 300px; 
    overflow-y: auto; 
    }
    #progresso{
        color: red;
        font-weight: bold;
    }
    h1 {
    margin-bottom: 20px;
    }
    .todo-input {
    display: flex;
    gap: 10px;
    }
    input {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    }
    button {
    padding: 8px 12px;
    border: none;
    background-color: #28a745;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    }
    button:hover {
    background-color: #218838;
    }
    ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
    }
    li {
    background: #f9f9f9;
    padding: 8px;
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
    cursor: pointer;
    }
    li.completed {
    text-decoration: line-through;
    color: gray;
    }
    .delete-btn {
    background: red;
    color: white;
    border: none;
    padding: 4px 8px;
    border-radius: 4px;
    cursor: pointer;
    }